.checkoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-transform: uppercase;
}

.checkout {
  background-color: red; /* Temporal, para test */
}