.cartAside {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background: var(--light-color);
  box-shadow: -2px 0 16px var(--dark-color);
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(.4,0,.2,1);
  z-index: 1000;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.open {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--danger-color);

  &:hover {
    color: var(--light-color);
    background-color: var(--danger-color);
  }
}

.cartItemsAside > li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  /* background-color: antiquewhite; */
  border-bottom: 1px solid var(--secondary-color);
  column-gap: .3rem;

  img {
    object-fit: contain;
    aspect-ratio: 1/1;
    width: 60px;
    height: 60px;
    background-color: aquamarine;
  }

  .itemDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .itemTitle {
      font-size: small;
    }

    .itemPrice {
      font-weight: bold;
      color: var(--dark-color);
    }
  }
}

.itemActions {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;

  .itemQuantity {
    width: 50px;
    text-align: center;
    margin: 0;
  }
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: auto; */
  padding: 1rem;

  .cartItemsCount {
      font-weight: bold;
      margin-right: .7rem;
  }

  .cartTotal {
    font-weight: bold;
    color: var(--dark-color);
    font-size: 1.2rem;
    margin-left: .7rem;
  }
}