/* src/layout/Footer/Footer.module.css */
footer {
    grid-area: footer;
    background-color: var(--dark-color);
    color: var(--text-color-inverse);
    padding: var(--spacing-md);
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

    & a {
        color: var(--primary-color);
        text-decoration: none;
        margin: 0 var(--spacing-xs);

        &:hover {
            text-decoration: underline;
            color: var(--light-color);
        }
    }
}

.copyright_text {
    margin-bottom: var(--spacing-xs);
    color: var(--text-color-inverse);
    font-size: 0.9rem;
}

.contact_info {
    display: block;
    font-size: 0.85rem;
    color: var(--text-color-light);
}